@model Project.Models.Usuario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrNombreUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrNombreUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrApellidoUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrApellidoUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrSeudonimo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrSeudonimo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnmTipoUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnmTipoUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrContrasena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrContrasena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrCargoUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrCargoUsuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IntCedulaUsuario">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
